{% extends 'base.html' %}
{% load static %}
{% block title %}

Movies

{% endblock %}


{% block content %}

<style>

div {
  width: 150px; 
  border: 1px solid #000000;
}

div.a{
	word-wrap: break-word;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto ;
 " background-color: #2123F3;"
  padding: 10px;
}
.grid-item {
  background-color: rgba(129, 125, 125, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>

<div class = "grid-container">
{% for x in movlist %}
	{% with y=forloop.counter|stringformat:"s" %}
	<div class = "grid-container">
	
		<div class="a">
			<div clas="movie poster"><img src = " {% static 'movie/'|add:y|add:'.jpg' %}" width = 150 height=200 alt="image" /> <br> <a href="omer" >{{x.name}}</a>

	</div>
{% endwith %}
</div>
</div>
{% endfor %}
{% endblock %}
